<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-4 col-md-7">
      <div class="signin-card shadow-lg">
        <div class="text-center mb-4">
          <h1 class="title">Reset Password</h1>
          <p class="subtitle">Enter your new password below</p>
        </div>

        <form (ngSubmit)="onReset()" [formGroup]="resetForm">
          <!-- New Password -->
          <div class="mb-3">
            <label class="form-label">New Password</label>
            <div class="input-wrapper">
              <input
                formControlName="newPassword"
                type="password"
                class="form-control custom-input"
                placeholder="Enter new password"
              />
            </div>
            @if (
              resetForm.get("newPassword")?.touched &&
              resetForm.get("newPassword")?.invalid
            ) {
              <div class="text-danger my-1">
                @if (resetForm.get("newPassword")?.getError("required")) {
                  <p>Password is required</p>
                }
                @if (resetForm.get("newPassword")?.getError("pattern")) {
                  <p>
                    Password must be 8–32 chars with upper, lower, digit &
                    special char
                  </p>
                }
              </div>
            }
          </div>

          <!-- Confirm Password -->
          <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <div class="input-wrapper">
              <input
                formControlName="confirmPassword"
                type="password"
                class="form-control custom-input"
                placeholder="Confirm new password"
              />
            </div>
            @if (resetForm.touched && resetForm.hasError("mismatch")) {
              <div class="text-danger my-1">
                <p>Passwords do not match</p>
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="resetForm.invalid || isLoading"
            class="btn signin-btn w-100"
          >
            @if (isLoading) {
              <span
                class="spinner-border spinner-border-sm me-2"
                role="status"
              ></span>
              Resetting...
            } @else {
              Reset Password
            }
          </button>
        </form>

        <div class="text-center mt-4">
          <p class="bottom-text">
            <a routerLink="/signIn">
              <i class="fas fa-arrow-left me-1"></i> Back to Sign In
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
