<!-- cart.html -->
<app-banner></app-banner>

@if (cartProducts?.data?.products?.length) {
  <div class="cart py-5">
    <div class="container">
      <div class="row g-4">
        <!-- LEFT SIDE -->
        <div class="col-lg-8">
          <div class="cart-wrapper">
            <div class="table-responsive">
              <table class="table align-middle cart-table">
                <thead>
                  <tr>
                    <th>{{ "CART.TABLE.PRODUCT" | translate }}</th>
                    <th>{{ "CART.TABLE.QUANTITY" | translate }}</th>
                    <th>{{ "CART.TABLE.SUBTOTAL" | translate }}</th>
                    <th>{{ "CART.TABLE.REMOVE" | translate }}</th>
                  </tr>
                </thead>

                <tbody>
                  <ng-container
                    *ngFor="let item of cartProducts?.data?.products"
                  >
                    <tr>
                      <td>
                        <div
                          class="product-info d-flex align-items-center gap-3"
                        >
                          <div class="product-image">
                            <img
                              [src]="item.product.imageCover"
                              alt="product"
                            />
                          </div>
                          <div>
                            <h6 class="product-title mb-1">
                              {{ item.product.title }}
                            </h6>
                            <div class="price">
                              {{ item.price | currency: "USD" }}
                            </div>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="quantity-box">
                          <button
                            (click)="
                              decreaseQuantity(item.product._id, item.count)
                            "
                          >
                            -
                          </button>
                          <span>{{ item.count | number: "2.0-0" }}</span>
                          <button
                            (click)="
                              increaseQuantity(item.product._id, item.count)
                            "
                          >
                            +
                          </button>
                        </div>
                      </td>

                      <td class="subtotal-price">
                        {{ item.count * item.price | currency: "USD" }}
                      </td>

                      <td>
                        <button
                          (click)="deleteItem(item.product._id)"
                          aria-label="Delete"
                          class="delete-btn"
                        >
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

            <!-- Buttons -->
            <div class="cart-buttons">
              <button routerLink="/home" class="shop-btn">
                {{ "CART.CONTINUE_SHOPPING" | translate }}
              </button>
              <button (click)="clearAllItems()" class="delete-all-btn">
                {{ "CART.DELETE_ALL" | translate }}
              </button>
            </div>
          </div>

          <!-- Order Note -->
          <div class="order-note mt-4">
            <h6 class="mb-3">{{ "CART.ORDER_NOTE_TITLE" | translate }}</h6>

            <textarea
              [formControl]="orderNote"
              class="form-control"
              rows="6"
              [placeholder]="'CART.ORDER_NOTE_PLACEHOLDER' | translate"
              aria-label="Order Note"
            ></textarea>

            @if (orderNote.touched && orderNote.invalid) {
              <div class="text-danger mt-3">
                @if (orderNote.getError("pattern")) {
                  <p>{{ "CART.ORDER_NOTE_PATTERN_ERROR" | translate }}</p>
                }
                @if (orderNote.getError("maxlength")) {
                  <p>{{ "CART.ORDER_NOTE_MAX_ERROR" | translate }}</p>
                }
              </div>
            }

            <div class="text-end mt-3">
              <button (click)="onSubmitNote()" class="note-btn" type="submit">
                {{ "CART.SUBMIT" | translate }}
              </button>
            </div>
          </div>
        </div>

        <!-- RIGHT SIDE -->
        <div class="col-lg-4">
          <div class="cart-summary">
            <div class="free-shipping">
              <div class="shipping-bar-wrapper">
                <div class="shipping-bar">
                  <div class="shipping-truck">
                    <i class="fa-solid fa-truck"></i>
                  </div>
                </div>
              </div>
              <p class="shipping-label">
                {{ "CART.FREE_SHIPPING" | translate }}
              </p>
            </div>

            <h5 class="summary-title">{{ "CART.CART_TOTALS" | translate }}</h5>

            <div class="summary-row">
              <span>{{ "CART.SUBTOTAL" | translate }}</span>
              <strong>{{ totalCartPrice | currency: "USD" }}</strong>
            </div>

            <hr />

            <h6 class="mb-3">{{ "CART.ESTIMATE_SHIPPING" | translate }}</h6>

            <div class="mb-3">
              <label class="form-label">{{
                "CART.COUNTRY_LABEL" | translate
              }}</label>
              <select aria-label="Select Country" class="form-select mb-3">
                @for (country of countries; track country.value) {
                  <option [value]="country.value">
                    {{ country.key | translate }}
                  </option>
                }
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">{{
                "CART.REGION_LABEL" | translate
              }}</label>
              <select aria-label="Select Region" class="form-select">
                <option>{{ "CART.REGION_OPTION" | translate }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">{{
                "CART.ZIP_LABEL" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'CART.ZIP_PLACEHOLDER' | translate"
                aria-label="Order Note"
              />
            </div>

            <hr />

            <h6>{{ "CART.COUPON_TITLE" | translate }}</h6>
            <p class="coupon-text">{{ "CART.COUPON_TEXT" | translate }}</p>
            <input
              type="text"
              class="form-control mb-3"
              [placeholder]="'CART.COUPON_PLACEHOLDER' | translate"
              aria-label="Coupon"
            />

            <div class="summary-row">
              <span>{{ "CART.YOU_SAVE" | translate }}</span>
              <strong>$50</strong>
            </div>

            <div class="summary-row total-price">
              <span>{{ "CART.ORDER_DETAILS" | translate }}</span>
              <strong>{{ totalCartPrice | currency: "USD" }}</strong>
            </div>

            <div class="form-check my-3">
              <input class="form-check-input" type="checkbox" id="agree" />
              <label class="form-check-label" for="agree">
                {{ "CART.AGREE" | translate }}
              </label>
            </div>

            <button routerLink="/checkout" class="checkout-btn w-100">
              {{ "CART.CHECKOUT" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="container">
    <div class="empty-cart text-center py-5 my-5">
      <i class="fa-solid fa-cart-shopping fa-3x mb-3 empty-cart-icon"></i>
      <h5 class="empty-cart-title">{{ "CART_EMPTY.TITLE" | translate }}</h5>
      <p class="empty-cart-text">{{ "CART_EMPTY.TEXT" | translate }}</p>
      <button routerLink="/search" class="shop-btn mt-2">
        {{ "CART_EMPTY.SHOP" | translate }}
      </button>
    </div>
  </div>
}
