:host {
  display: block;
}

.change-password-page {
  min-height: 100vh;
  background: var(--light-gray);
}

/* ==========================
   Banner
========================== */

.banner {
  height: 280px;
  background: linear-gradient(135deg,
      var(--dark-blue),
      var(--soft-blue));
  position: relative;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, .12);
}

.c1 {
  width: 90px;
  height: 90px;
  top: 30px;
  left: 40px;
}

.c2 {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 180px;
}

.c3 {
  width: 120px;
  height: 120px;
  right: 90px;
  top: 50px;
}

.c4 {
  width: 70px;
  height: 70px;
  right: 30px;
  top: 25px;
}

/* ==========================
   Form
========================== */

.form-wrapper {
  background-color: white;
  max-width: 500px;
  margin: -160px auto 0px;
  padding: 32px;
  position: relative;
  z-index: 10;
}

.title {
  color: var(--dark-blue);
  font-weight: 700;
  text-align: center;
}

.subtitle {
  color: var(--soft-blue);
  text-align: center;
  font-size: 19px;
  margin-bottom: 32px;
}

.form-label {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.custom-input {
  height: 62px;
  border: 2px solid var(--soft-pink);
  border-radius: 18px;
  background: #eef3fb;
  font-size: 17px;
  padding: 0 16px;
}

.custom-input:focus {
  border-color: var(--soft-blue);
  box-shadow: none;
}
.error p{
  font-size: 15px;
}
.update-btn {
  height: 62px;
  border-radius: 18px;
  border: none;
  background: var(--soft-pink);
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 700;
}

.update-btn:hover {
  background: var(--soft-blue);
  color: white;
}
