<div class="pb-5">
  <!-- Banner -->
  <section class="banner">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
  </section>

  <!-- Form -->
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="form-wrapper rounded-5 shadow-lg">
          <h1 class="title">{{ "AUTH.UPDATE_PASSWORD.TITLE" | translate }}</h1>
          <p class="subtitle">
            {{ "AUTH.UPDATE_PASSWORD.SUBTITLE" | translate }}
          </p>

          <form (ngSubmit)="onChangePassword()" [formGroup]="passwordForm">
            <div class="mb-4">
              <label class="form-label">{{
                "AUTH.UPDATE_PASSWORD.CURRENT_PASSWORD" | translate
              }}</label>
              <input
                formControlName="currentPassword"
                type="password"
                class="form-control custom-input"
                [placeholder]="
                  'AUTH.UPDATE_PASSWORD.CURRENT_PASSWORD_PLACEHOLDER'
                    | translate
                "
                aria-label="Current Password"
              />
              @if (
                passwordForm.get("currentPassword")?.touched &&
                passwordForm.get("currentPassword")?.invalid
              ) {
                <div class="text-danger my-1 error">
                  @if (
                    passwordForm.get("currentPassword")?.getError("required")
                  ) {
                    <p>
                      {{
                        "AUTH.UPDATE_PASSWORD.CURRENT_PASSWORD_REQUIRED"
                          | translate
                      }}
                    </p>
                  }
                </div>
              }
            </div>

            <div class="mb-4">
              <label class="form-label">{{
                "AUTH.UPDATE_PASSWORD.NEW_PASSWORD" | translate
              }}</label>
              <input
                formControlName="password"
                type="password"
                class="form-control custom-input"
                [placeholder]="
                  'AUTH.UPDATE_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate
                "
                aria-label="Password"
              />
              @if (
                passwordForm.get("password")?.touched &&
                passwordForm.get("password")?.invalid
              ) {
                <div class="text-danger my-1 error">
                  @if (passwordForm.get("password")?.getError("required")) {
                    <p>
                      {{
                        "AUTH.UPDATE_PASSWORD.NEW_PASSWORD_REQUIRED" | translate
                      }}
                    </p>
                  }
                  @if (passwordForm.get("password")?.getError("pattern")) {
                    <p>
                      {{ "AUTH.UPDATE_PASSWORD.PASSWORD_PATTERN" | translate }}
                    </p>
                  }
                </div>
              }
            </div>

            <div class="mb-4">
              <label class="form-label">{{
                "AUTH.UPDATE_PASSWORD.CONFIRM_PASSWORD" | translate
              }}</label>
              <input
                formControlName="rePassword"
                type="password"
                class="form-control custom-input"
                [placeholder]="
                  'AUTH.UPDATE_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER'
                    | translate
                "
                aria-label="Re-Password"
              />
              @if (
                passwordForm.get("rePassword")?.touched &&
                passwordForm.get("rePassword")?.invalid
              ) {
                <div class="text-danger my-1 error">
                  @if (passwordForm.get("rePassword")?.getError("required")) {
                    <p>
                      {{
                        "AUTH.UPDATE_PASSWORD.CONFIRM_PASSWORD_REQUIRED"
                          | translate
                      }}
                    </p>
                  }
                  @if (passwordForm.get("rePassword")?.getError("mismatch")) {
                    <p>
                      {{ "AUTH.UPDATE_PASSWORD.PASSWORD_MISMATCH" | translate }}
                    </p>
                  }
                </div>
              }
            </div>

            <button
              type="submit"
              [disabled]="passwordForm.invalid"
              class="btn update-btn w-100"
            >
              @if (isLoading) {
                <span
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                ></span>
                {{ "AUTH.UPDATE_PASSWORD.SUBMITTING" | translate }}
              } @else {
                {{ "AUTH.UPDATE_PASSWORD.SUBMIT" | translate }}
              }
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
