<app-banner></app-banner>
@if (wishlistItems?.data?.length) {
  <div class="wishlist my-5">
    <div class="container">
      <div class="row g-5">
        <ng-container *ngFor="let item of wishlistItems?.data">
          <div class="col-md-6 col-lg-3">
            <app-product
              [product]="item"
              (toggleWishlist)="deleteWishlistItem($event)"
            >
            </app-product>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
} @else {
  <div class="empty-wishlist text-center py-5">
    <i class="fa-regular fa-heart fa-3x mb-3 empty-wishlist-icon"></i>

    <h5 class="empty-wishlist-title">Your wishlist is empty</h5>

    <p class="empty-wishlist-text">
      Save your favorite products to find them easily later.
    </p>

    <button routerLink="/search" class="shop-btn mt-2">Explore Products</button>
  </div>
}
