<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-4 col-md-7">
      <div class="signin-card shadow-lg">
        <div class="text-center mb-4">
          <h1 class="title">{{ "AUTH.FORGET_PASSWORD.TITLE" | translate }}</h1>
          <p class="subtitle">
            {{ "AUTH.FORGET_PASSWORD.SUBTITLE" | translate }}
          </p>
        </div>

        <form (ngSubmit)="onSendEmail()" [formGroup]="emailForm">
          <div class="mb-3">
            <label class="form-label">{{
              "AUTH.FORGET_PASSWORD.EMAIL" | translate
            }}</label>
            <input
              formControlName="email"
              type="email"
              class="form-control custom-input"
              [placeholder]="
                'AUTH.FORGET_PASSWORD.EMAIL_PLACEHOLDER' | translate
              "
              aria-label="Email"
            />
            @if (
              emailForm.get("email")?.touched && emailForm.get("email")?.invalid
            ) {
              <div class="text-danger my-1">
                @if (emailForm.get("email")?.getError("required")) {
                  <p>{{ "AUTH.FORGET_PASSWORD.EMAIL_REQUIRED" | translate }}</p>
                }
                @if (emailForm.get("email")?.getError("email")) {
                  <p>{{ "AUTH.FORGET_PASSWORD.EMAIL_INVALID" | translate }}</p>
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="emailForm.invalid || isLoading"
            class="btn signin-btn w-100"
          >
            @if (isLoading) {
              <span
                class="spinner-border spinner-border-sm me-2"
                role="status"
              ></span>
              {{ "AUTH.FORGET_PASSWORD.SUBMITTING" | translate }}
            } @else {
              {{ "AUTH.FORGET_PASSWORD.SUBMIT" | translate }}
            }
          </button>
        </form>

        <div class="text-center mt-4">
          <p class="bottom-text">
            <a routerLink="/signIn">
              <i class="fas fa-arrow-left me-1"></i>
              {{ "AUTH.FORGET_PASSWORD.BACK_TO_SIGN_IN" | translate }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
