<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-4 col-md-7">
      <div class="signin-card shadow-lg">
        <div class="text-center mb-4">
          <h1 class="title">{{ "AUTH.SIGN_IN.TITLE" | translate }}</h1>
          <p class="subtitle">{{ "AUTH.SIGN_IN.SUBTITLE" | translate }}</p>
        </div>

        <form (ngSubmit)="onSignIn()" [formGroup]="signInForm">
          <div class="mb-3">
            <label class="form-label">{{
              "AUTH.SIGN_IN.EMAIL" | translate
            }}</label>
            <input
              formControlName="email"
              type="email"
              class="form-control custom-input"
              [placeholder]="'AUTH.SIGN_IN.EMAIL_PLACEHOLDER' | translate"
              aria-label="Email"
            />
            @if (
              signInForm.get("email")?.touched &&
              signInForm.get("email")?.invalid
            ) {
              <div class="text-danger my-1 errors">
                @if (signInForm.get("email")?.getError("required")) {
                  <p>{{ "AUTH.SIGN_IN.EMAIL_REQUIRED" | translate }}</p>
                }
                @if (signInForm.get("email")?.getError("email")) {
                  <p>{{ "AUTH.SIGN_IN.EMAIL_INVALID" | translate }}</p>
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label">{{
              "AUTH.SIGN_IN.PASSWORD" | translate
            }}</label>
            <input
              formControlName="password"
              type="password"
              class="form-control custom-input"
              [placeholder]="'AUTH.SIGN_IN.PASSWORD_PLACEHOLDER' | translate"
              aria-label="Password"
            />
            @if (
              signInForm.get("password")?.touched &&
              signInForm.get("password")?.invalid
            ) {
              <div class="text-danger my-1">
                @if (signInForm.get("password")?.getError("required")) {
                  <p>{{ "AUTH.SIGN_IN.PASSWORD_REQUIRED" | translate }}</p>
                }
              </div>
            }
          </div>

          <div class="forget-pass-btn mb-3">
            <a class="text-decoration-underline" routerLink="/forget-password">
              {{ "AUTH.SIGN_IN.FORGET_PASSWORD" | translate }}
            </a>
          </div>
          <button
            type="submit"
            [disabled]="signInForm.invalid"
            class="btn signin-btn w-100"
          >
            @if (isLoading) {
              <span
                class="spinner-border spinner-border-sm me-2"
                role="status"
              ></span>
              {{ "AUTH.SIGN_IN.SUBMITTING" | translate }}
            } @else {
              {{ "AUTH.SIGN_IN.SUBMIT" | translate }}
            }
          </button>
        </form>

        <div class="text-center mt-4">
          <p class="bottom-text">
            {{ "AUTH.SIGN_IN.NO_ACCOUNT" | translate }}
            <a class="text-decoration-underline" routerLink="/signUp">
              {{ "AUTH.SIGN_IN.SIGN_UP" | translate }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
