.no-products {
  font-size: 35px;
}

.no-products i {
  font-size: 50px;
  color: #c8973a;
}

.shop-btn {
  border: none;
  background: var(--dark-blue);
  color: white;
  font-size: 17px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.shop-btn:hover {
  background-color: var(--soft-blue);
}

@media screen and (max-width: 576px) {
  .no-products {
    font-size: 20px;
  }

  .no-products i {
    font-size: 30px;
  }
}
